*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 10px black;
}

header > h1{
    background-color: #B5B5B5;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

main{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 2px 10px black;
}

nav{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    gap: 10px;
    padding: 4px;
    border-radius: 4px; 
    
}

nav > a{
    background-color: #696969;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    box-shadow: 0px 2px 4px black;
}

nav > a:hover{
    background-color: #c58804;
    color: white;
}

aside{
    font-style: italic;
    font-size: 0.7em;
    text-align: right;
}

article > p{
    text-align: justify;
}

article > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: hotpink;
    text-align: center;
    font-size: 0.7em;

}